name: Update Medium posts

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Medium posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://feed.medium.com/@rajendran22"
          max_post_count: 5
          committer_username: "github-actions[bot]"
          committer_email: "github-actions[bot]@users.noreply.github.com"
