name: Update Medium Posts

on:
  schedule:
    - cron: '0 */12 * * *'   # Runs every 12 hours
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Fetch latest Medium posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://medium.com/@rajendran22"
          max_post_count: 5   # Number of posts to show
